@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}
.heading {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  padding-left: 0.5rem;
  border-left: 0.5rem solid rgba(56, 133, 200, 1);
}
#learn {
  position: relative;
  height: 380px;
}
#learn::after {
  position: absolute;
  content: "";
  inset: 0;
  z-index: -1;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0.1) 0%,
    rgba(6, 86, 155, 0.87) 100%
  );
}
#hamburger {
  transition: all 300ms ease;
}
.open #menu_middle {
  display: none;
  transition: all 300ms ease;
}
.open #menu_top {
  transform: rotate(45deg);
  transition: all 300ms ease;
}
.open #menu_bottom {
  transform: rotate(-45deg) translateY(-6px) translateX(5px);
  transition: all 300ms ease;
}
/* #ham_menu{
    animation: slideIn 750ms linear forwards;
} */
#ham_links {
  animation: slideIn 750ms linear forwards;
}

.slide p::before {
  content: "";
  position: absolute;
  bottom: -2.5rem;
  left: 6rem;
  top: 1rem;
  right: 0rem;
  width: 1rem;
  background-color: #eee;
  transform: rotate(45deg);
  z-index: -1;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
